<h4 class="title-custom">Δεδομένα αισθητήρων</h4>

<div class="container">
    <div class="row">
        <div class="col" style="align-items: center;">
            <ng-select [items]="devices"
            bindLabel="devName"
            appendTo="body"
            placeholder="Επιλέξτε συσκευή"
            [(ngModel)]="device"
            class="api-select"
            (change)="devSelected($event)"
            ></ng-select>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="title-custom">Συσκευές αισθητήρων {{device_data.date_values}} {{this.date_values}}</h4>
</div>

<div class="container" style="text-align: center; font-weight: bold;">
    <div class="row">
        <div class="col">
            <span *ngIf="device_data.length" class="chart-label">Θερμοκρασία (<sup>o</sup>C)</span>
            <canvas id="temperature"></canvas>
        </div>
        <div class="col">
            <span *ngIf="device_data.length" class="chart-label">pH</span>
            <canvas id="ph"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span *ngIf="device_data.length" class="chart-label">Διαλυμένο οξυγόνο (V)</span>
            <canvas id="do"></canvas>
        </div>
        <div class="col">
            <span *ngIf="device_data.length" class="chart-label">Αγωγιμότητα (mS/cm)</span>
            <canvas id="conductivity"></canvas>
        </div>
        <div class="col">
            <span *ngIf="device_data.length" class="chart-label">Δείκτης ποιότητας</span>
            <canvas id="wcfi"></canvas>
        </div>
    </div>
    
</div>
