.container{
  text-align: center;
}
.btn-back-custom{
  width: 65px;
  height: 35px;
  border-radius: 50px;
  border: none;
  background: #99C75E;
}
.btn-period-custom{
  width: 120px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background: #AEADAD;
  margin: 5px;
}
.selected-period{
  background: #99C75E;
}
.arrow-back{
  vertical-align: middle;
  color: white;
}
.first-row-custom{
  padding-top: 35px;
}
.plant-name-custom{
  font-weight: bold;
  font-size: xx-large;
}
.btn-back-col{
  text-align: justify;
}
.sub-name-custom{
  padding-top: 25px;
}
.sub-name{
  font-weight: bold;
}
.water-btn{
  text-align: end;
}
.light-btn{
  text-align: justify;
}
.row-period-custom{
  margin: 10px;
}
.chart-label{
  font-weight: bold;
  font-size: small;
}
