<h1 mat-dialog-title>Προσθήκη νέας εφαρμογής</h1>
<div mat-dialog-content>
  <p>Επιθυμητό όνομα εφαρμογής</p>
  <mat-form-field>
    <mat-label>Όνομα</mat-label>
    <input matInput [(ngModel)]="data.appName">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Συμπληρώστε ένα δικό σας κλειδί σε περίπτωση που επιθυμείτε κρυπογράφηση σε επίπεδο εφαρμογής</p>
  <mat-form-field>
    <mat-label>Κλειδί εφαρμογής</mat-label>
    <input matInput [(ngModel)]="data.appKey">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" style="margin: auto;">Ακύρωση</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial style="margin: auto;">Καταχώρηση</button>
</div>
