.title-custom {
  font-weight: bold;
  text-align: center;
  margin: 30px;
}

.fitt{
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.tableFW{
  width: 100%;
}

.device-text{
  text-align: center;
  margin: revert;
  border: solid 5px #99c75e;
}
.container{
  text-align: center;
}
.profileTab{
  font-weight: bold;
  margin-top: 30px;
}

.custom-radio-group {
  display: flex; flex-direction: column;
  align-items: center;
  /* display: inline-grid; */ 
  /* display: grid; */
  margin: 15px 0;
}