<h4 class="title-custom">Προφίλ</h4>

<mat-tab-group dynamicHeight>
    <mat-tab label="Διαχείριση συσκευών">
        <div class="container fitt">
            <div class="row" style="text-align: center; margin: 20px 0">
                <div class="col" style="align-items: center;">
                    <ng-select [items]="applications"
                    bindLabel="appName"
                    appendTo="body"
                    placeholder="Επιλέξτε εφαρμογή"
                    [(ngModel)]="application"
                    class="api-select"
                    (change)="appSelected($event)"
                    ></ng-select>
                </div>
                <div class="col">
                    Προσθήκη Εφαρμογής
                    <button mat-mini-fab color="primary" (click)="addApplication()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="showDevices">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Συσκευές
                    </div>
                    <div class="col">
                        Προσθήκη Συκευής
                        <button mat-mini-fab color="primary" (click)="addDevice()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button mat-mini-fab color="primary" (click)="appSelected(application)">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <table *ngIf="devices.length" mat-table [dataSource]="devices" class="mat-elevation-z8 tableFW">
                <ng-container matColumnDef="devName">
                    <th mat-header-cell *matHeaderCellDef> Όνομα </th>
                    <td mat-cell *matCellDef="let element"> {{element.devName}} </td>
                </ng-container>
                <ng-container matColumnDef="devAddr">
                    <th mat-header-cell *matHeaderCellDef> Αναγνωριστικό </th>
                    <td mat-cell *matCellDef="let element"> {{element.devAddr}} </td>
                </ng-container>
                <ng-container matColumnDef="lastSeen">
                    <th mat-header-cell *matHeaderCellDef> Τελευταία εμφάνιση </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.lastSeen"> {{element.lastSeen}} </div>
                        <div *ngIf="!element.lastSeen"> Ποτέ </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <p *ngIf="!devices.length" class="device-text">Δεν ανήκουν συσκευές σε αυτή την εφαρμογή</p>
        </div>
        <div>
            προσθήκη ενεργοποιητή -> σύνδεση με συσκευή + αριθμό ενεργοποιητή. ο αριθμός θα κάνει map τοπικά στην συσκευή
            ώστε να μπορεί να το χειριστεί από εκεί. Επίσης θα δίνεται η δυνατότητα raw downlink σε κάθε συσκευή με 
            αριθμό ενεργοποιητή + command. 
        </div>
    </mat-tab>
    <mat-tab label="Διαχείριση προφίλ">
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <div mat-dialog-content class="row">
                        <p class="col profileTab">Αλλαγή κωδικού</p>
                        <mat-form-field class="col">
                            <input matInput [(ngModel)]="newPass">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="setNewPass()">
                            Αλλαγή Κωδικού
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="col profileTab">Αυτόματες ενέργειες</p>
                    <mat-radio-group class="custom-radio-group" [(ngModel)]="autoActions">
                        <mat-radio-button [value]="true">Ναι</mat-radio-button>
                        <mat-radio-button [value]="false">Όχι</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row" *ngIf="autoActions==true">
                <div class="col">
                    <p class="col profileTab">Διάστημα αυτόματων ενεργειών</p>
                    <mat-radio-group class="custom-radio-group" [(ngModel)]="autoActionsTimePeriod">
                        <mat-radio-button [value]="true">8πμ - 2μμ</mat-radio-button>
                        <mat-radio-button [value]="false">Συνεχόμενα</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-raised-button color="primary" (click)="setAutoActions()">
                        Καταχώρηση επιλογής
                    </button>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

