.title-custom {
  font-weight: bold;
  text-align: center;
  margin: 30px;
}

.mat-cell{
  text-align: center;
}

.mat-header-cell{
  text-align: center;
}

.tableFW{
  width: 100%;
}
.sub-name-custom{
  padding-top: 25px;
}
.container{
  text-align: center;
}
.sub-name{
  font-weight: bold;
}
.action-button{
  border-radius: 20px;
}

.fitt{
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.device-text{
  text-align: center;
  margin: revert;
  border: solid 5px #99c75e;
}
